.game-board {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.container {
    display: flex;
    justify-content: center;
}

.display {
    text-align: center;
}

.btn {
    background-color: #7ea6e6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    background-color: #2a73e8;
}

.box {
    background: #3d3d3d;
    border: 1px solid #d1cdcd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}